# Database Check
Validate raw + derived tables and provenance for the FINRA + Polygon pipeline.

In [2]:
from darkpool_analysis.config import load_config
from darkpool_analysis.db import get_connection
import pandas as pd

config = load_config()
conn = get_connection(config.db_path)

In [3]:
tables = conn.execute("SHOW TABLES").df()["name"].tolist()
tables

['composite_signal',
 'daily_metrics',
 'finra_otc_weekly_raw',
 'finra_short_daily_all_raw',
 'finra_short_daily_raw',
 'index_constituent_short_agg_daily',
 'lit_direction_daily',
 'options_premium_daily',
 'options_premium_summary',
 'polygon_daily_agg_raw',
 'polygon_equity_trades_raw',
 'polygon_ingestion_state',
 'scanner_daily_metrics']

In [4]:
from IPython.display import display

for table in tables:
    print(table)
    display(conn.execute(f"DESCRIBE {table}").df())
    display(conn.execute(f"SELECT COUNT(*) AS n FROM {table}").df())

composite_signal

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1                 date        DATE  YES  None    None  None
2    directional_score      DOUBLE  YES  None    None  None
3       pressure_score      DOUBLE  YES  None    None  None
4  participation_score      DOUBLE  YES  None    None  None
5      composite_score      DOUBLE  YES  None    None  None
6          final_label     VARCHAR  YES  None    None  None
7         data_quality     VARCHAR  YES  None    None  None
8    inference_version     VARCHAR  YES  None    None  None

   n
0  0

daily_metrics

                      column_name column_type null   key default extra
0                            date        DATE  YES  None    None  None
1                          symbol     VARCHAR  YES  None    None  None
2                    log_buy_sell      DOUBLE  YES  None    None  None
3                    short_volume      DOUBLE  YES  None    None  None
4             short_exempt_volume      DOUBLE  YES  None    None  None
5              short_total_volume      DOUBLE  YES  None    None  None
6                short_buy_volume      DOUBLE  YES  None    None  None
7               short_sell_volume      DOUBLE  YES  None    None  None
8                     short_ratio      DOUBLE  YES  None    None  None
9                   short_ratio_z      DOUBLE  YES  None    None  None
10           short_buy_sell_ratio      DOUBLE  YES  None    None  None
11         short_buy_sell_ratio_z      DOUBLE  YES  None    None  None
12                           vwbr      DOUBLE  YES  None    None  None
13                         vwbr_z      DOUBLE  YES  None    None  None
14   short_ratio_denominator_type     VARCHAR  YES  None    None  None
15  short_ratio_denominator_value      DOUBLE  YES  None    None  None
16             short_ratio_source     VARCHAR  YES  None    None  None
17                 lit_buy_volume      DOUBLE  YES  None    None  None
18                lit_sell_volume      DOUBLE  YES  None    None  None
19               lit_total_volume      DOUBLE  YES  None    None  None
20                  lit_buy_ratio      DOUBLE  YES  None    None  None
21                lit_buy_ratio_z      DOUBLE  YES  None    None  None
22             lit_flow_imbalance      DOUBLE  YES  None    None  None
23           lit_flow_imbalance_z      DOUBLE  YES  None    None  None
24                          close      DOUBLE  YES  None    None  None
25                           vwap      DOUBLE  YES  None    None  None
26                           high      DOUBLE  YES  None    None  None
27                            low      DOUBLE  YES  None    None  None
28                         volume      DOUBLE  YES  None    None  None
29                      return_1d      DOUBLE  YES  None    None  None
30                       return_z      DOUBLE  YES  None    None  None
31                      range_pct      DOUBLE  YES  None    None  None
32        otc_off_exchange_volume      DOUBLE  YES  None    None  None
33                  otc_week_used        DATE  YES  None    None  None
34           otc_weekly_buy_ratio      DOUBLE  YES  None    None  None
35                 otc_buy_volume      DOUBLE  YES  None    None  None
36                otc_sell_volume      DOUBLE  YES  None    None  None
37                otc_buy_ratio_z      DOUBLE  YES  None    None  None
38                     otc_status     VARCHAR  YES  None    None  None
39            weekly_total_volume      DOUBLE  YES  None    None  None
40         otc_participation_rate      DOUBLE  YES  None    None  None
41            otc_participation_z      DOUBLE  YES  None    None  None
42        otc_participation_delta      DOUBLE  YES  None    None  None
43             accumulation_score      DOUBLE  YES  None    None  None
44     accumulation_score_display      DOUBLE  YES  None    None  None
45                     confidence      DOUBLE  YES  None    None  None
46                   data_quality     VARCHAR  YES  None    None  None
47                        has_otc     BOOLEAN  YES  None    None  None
48                      has_short     BOOLEAN  YES  None    None  None
49                        has_lit     BOOLEAN  YES  None    None  None
50                      has_price     BOOLEAN  YES  None    None  None
51         pressure_context_label     VARCHAR  YES  None    None  None
52              inference_version     VARCHAR  YES  None    None  None
53    accumulation_short_z_source     VARCHAR  YES  None    None  None

   n
0  0

finra_otc_weekly_raw

                column_name column_type null   key default extra
0                    symbol     VARCHAR  YES  None    None  None
1           week_start_date        DATE  YES  None    None  None
2       off_exchange_volume      DOUBLE  YES  None    None  None
3               trade_count      DOUBLE  YES  None    None  None
4           tier_identifier     VARCHAR  YES  None    None  None
5          tier_description     VARCHAR  YES  None    None  None
6                issue_name     VARCHAR  YES  None    None  None
7   market_participant_name     VARCHAR  YES  None    None  None
8                      mpid     VARCHAR  YES  None    None  None
9          last_update_date        DATE  YES  None    None  None
10              source_file     VARCHAR  YES  None    None  None

   n
0  8

finra_short_daily_all_raw

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1           trade_date        DATE  YES  None    None  None
2         short_volume      DOUBLE  YES  None    None  None
3  short_exempt_volume      DOUBLE  YES  None    None  None
4         total_volume      DOUBLE  YES  None    None  None
5               market     VARCHAR  YES  None    None  None
6               source     VARCHAR  YES  None    None  None
7          source_file     VARCHAR  YES  None    None  None

   n
0  0

finra_short_daily_raw

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1           trade_date        DATE  YES  None    None  None
2         short_volume      DOUBLE  YES  None    None  None
3  short_exempt_volume      DOUBLE  YES  None    None  None
4         total_volume      DOUBLE  YES  None    None  None
5               market     VARCHAR  YES  None    None  None
6               source     VARCHAR  YES  None    None  None
7          source_file     VARCHAR  YES  None    None  None

    n
0  56

index_constituent_short_agg_daily

                   column_name column_type null   key default extra
0                 index_symbol     VARCHAR  YES  None    None  None
1                   trade_date        DATE  YES  None    None  None
2           total_short_volume      DOUBLE  YES  None    None  None
3     total_denominator_volume      DOUBLE  YES  None    None  None
4             denominator_type     VARCHAR  YES  None    None  None
5              agg_short_ratio      DOUBLE  YES  None    None  None
6            agg_short_ratio_z      DOUBLE  YES  None    None  None
7               coverage_count     INTEGER  YES  None    None  None
8   expected_constituent_count     INTEGER  YES  None    None  None
9                 coverage_pct      DOUBLE  YES  None    None  None
10          index_price_symbol     VARCHAR  YES  None    None  None
11          index_price_source     VARCHAR  YES  None    None  None
12          index_price_return      DOUBLE  YES  None    None  None
13              index_return_z      DOUBLE  YES  None    None  None
14        interpretation_label     VARCHAR  YES  None    None  None
15                data_quality     VARCHAR  YES  None    None  None
16           inference_version     VARCHAR  YES  None    None  None

   n
0  0

lit_direction_daily

             column_name column_type null   key default extra
0                 symbol     VARCHAR  YES  None    None  None
1                   date        DATE  YES  None    None  None
2         lit_buy_volume      DOUBLE  YES  None    None  None
3        lit_sell_volume      DOUBLE  YES  None    None  None
4          lit_buy_ratio      DOUBLE  YES  None    None  None
5           log_buy_sell      DOUBLE  YES  None    None  None
6  classification_method     VARCHAR  YES  None    None  None
7       lit_coverage_pct      DOUBLE  YES  None    None  None
8      inference_version     VARCHAR  YES  None    None  None

    n
0  58

options_premium_daily

       column_name column_type null   key default extra
0           symbol     VARCHAR   NO   PRI    None  None
1       trade_date        DATE   NO   PRI    None  None
2  expiration_date        DATE   NO   PRI    None  None
3  expiration_type     VARCHAR  YES  None    None  None
4           strike      DOUBLE   NO   PRI    None  None
5      option_type     VARCHAR   NO   PRI    None  None
6          premium      DOUBLE  YES  None    None  None
7           volume      DOUBLE  YES  None    None  None
8      close_price      DOUBLE  YES  None    None  None
9  fetch_timestamp   TIMESTAMP  YES  None    None  None

      n
0  4388

options_premium_summary

          column_name column_type null   key default extra
0              symbol     VARCHAR   NO   PRI    None  None
1          trade_date        DATE   NO   PRI    None  None
2     expiration_type     VARCHAR   NO   PRI    None  None
3  total_call_premium      DOUBLE  YES  None    None  None
4   total_put_premium      DOUBLE  YES  None    None  None
5         net_premium      DOUBLE  YES  None    None  None
6           log_ratio      DOUBLE  YES  None    None  None
7       strikes_count     INTEGER  YES  None    None  None
8          atm_strike      DOUBLE  YES  None    None  None
9     fetch_timestamp   TIMESTAMP  YES  None    None  None

    n
0  56

polygon_daily_agg_raw

       column_name column_type null   key default extra
0           symbol     VARCHAR  YES  None    None  None
1       trade_date        DATE  YES  None    None  None
2             open      DOUBLE  YES  None    None  None
3             high      DOUBLE  YES  None    None  None
4              low      DOUBLE  YES  None    None  None
5            close      DOUBLE  YES  None    None  None
6             vwap      DOUBLE  YES  None    None  None
7           volume      DOUBLE  YES  None    None  None
8  fetch_timestamp   TIMESTAMP  YES  None    None  None

    n
0  56

polygon_equity_trades_raw

   column_name column_type null   key default extra
0       symbol     VARCHAR  YES  None    None  None
1    timestamp   TIMESTAMP  YES  None    None  None
2        price      DOUBLE  YES  None    None  None
3         size      DOUBLE  YES  None    None  None
4          bid      DOUBLE  YES  None    None  None
5          ask      DOUBLE  YES  None    None  None
6  data_source     VARCHAR  YES  None  'tick'  None

          n
0  15998492

polygon_ingestion_state

       column_name column_type null   key default extra
0           symbol     VARCHAR   NO   PRI    None  None
1       trade_date        DATE   NO   PRI    None  None
2      data_source     VARCHAR   NO   PRI    None  None
3  fetch_timestamp   TIMESTAMP  YES  None    None  None
4     record_count     INTEGER  YES  None    None  None
5           status     VARCHAR  YES  None    None  None

     n
0  114

scanner_daily_metrics

               column_name column_type null   key default extra
0                     date        DATE  YES  None    None  None
1                   symbol     VARCHAR  YES  None    None  None
2             short_volume      DOUBLE  YES  None    None  None
3      short_exempt_volume      DOUBLE  YES  None    None  None
4             total_volume      DOUBLE  YES  None    None  None
5       short_total_volume      DOUBLE  YES  None    None  None
6         short_buy_volume      DOUBLE  YES  None    None  None
7        short_sell_volume      DOUBLE  YES  None    None  None
8              short_ratio      DOUBLE  YES  None    None  None
9            short_ratio_z      DOUBLE  YES  None    None  None
10    short_buy_sell_ratio      DOUBLE  YES  None    None  None
11  short_buy_sell_ratio_z      DOUBLE  YES  None    None  None
12    short_total_volume_z      DOUBLE  YES  None    None  None
13             trend_score      DOUBLE  YES  None    None  None
14             trend_label     VARCHAR  YES  None    None  None
15       scanner_direction     VARCHAR  YES  None    None  None
16              trend_days     INTEGER  YES  None    None  None
17           outlier_score      DOUBLE  YES  None    None  None
18              is_outlier     BOOLEAN  YES  None    None  None
19       is_unusual_volume     BOOLEAN  YES  None    None  None
20        is_unusual_ratio     BOOLEAN  YES  None    None  None
21           scanner_score      DOUBLE  YES  None    None  None
22       inference_version     VARCHAR  YES  None    None  None

   n
0  0

In [26]:
sample_symbol = "META"
start_date = min(config.target_dates)
end_date = max(config.target_dates)
sample_symbol, start_date, end_date

('META', datetime.date(2025, 11, 20), datetime.date(2025, 12, 31))

## Raw Tables Samples

In [6]:
conn.execute("""
SELECT * FROM finra_otc_weekly_raw
WHERE symbol = ?
ORDER BY week_start_date DESC
LIMIT 5
""", [sample_symbol]).df()

Empty DataFrame
Columns: [symbol, week_start_date, off_exchange_volume, trade_count, tier_identifier, tier_description, issue_name, market_participant_name, mpid, last_update_date, source_file]
Index: []

In [7]:
conn.execute("""
SELECT * FROM finra_short_daily_raw
WHERE symbol = ? AND trade_date BETWEEN ? AND ?
ORDER BY trade_date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, trade_date, short_volume, short_exempt_volume, total_volume, market, source, source_file]
Index: []

In [8]:
conn.execute("""
SELECT * FROM polygon_daily_agg_raw
WHERE symbol = ? AND trade_date BETWEEN ? AND ?
ORDER BY trade_date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, trade_date, open, high, low, close, vwap, volume, fetch_timestamp]
Index: []

In [9]:
conn.execute("""
SELECT * FROM polygon_equity_trades_raw
WHERE symbol = ? AND timestamp::DATE BETWEEN ? AND ?
ORDER BY timestamp DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, timestamp, price, size, bid, ask, data_source]
Index: []

## Derived Tables Samples

In [10]:
conn.execute("""
SELECT * FROM lit_direction_daily
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell, classification_method, lit_coverage_pct, inference_version]
Index: []

In [11]:
conn.execute("""
SELECT * FROM daily_metrics
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
LIMIT 10
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [date, symbol, log_buy_sell, short_volume, short_exempt_volume, short_total_volume, short_buy_volume, short_sell_volume, short_ratio, short_ratio_z, short_buy_sell_ratio, short_buy_sell_ratio_z, vwbr, vwbr_z, short_ratio_denominator_type, short_ratio_denominator_value, short_ratio_source, lit_buy_volume, lit_sell_volume, lit_total_volume, lit_buy_ratio, lit_buy_ratio_z, lit_flow_imbalance, lit_flow_imbalance_z, close, vwap, high, low, volume, return_1d, return_z, range_pct, otc_off_exchange_volume, otc_week_used, otc_weekly_buy_ratio, otc_buy_volume, otc_sell_volume, otc_buy_ratio_z, otc_status, weekly_total_volume, otc_participation_rate, otc_participation_z, otc_participation_delta, accumulation_score, accumulation_score_display, confidence, data_quality, has_otc, has_short, has_lit, has_price, pressure_context_label, inference_version, accumulation_short_z_source]
Index: []

[0 rows x 54 columns]

In [12]:
conn.execute("""
SELECT index_symbol, trade_date, coverage_count, expected_constituent_count, coverage_pct
FROM index_constituent_short_agg_daily
ORDER BY trade_date DESC
LIMIT 5
""").df()

Empty DataFrame
Columns: [index_symbol, trade_date, coverage_count, expected_constituent_count, coverage_pct]
Index: []

## Coverage and Provenance Checks

In [13]:
conn.execute("""
SELECT symbol, COUNT(*) AS rows
FROM daily_metrics
WHERE date BETWEEN ? AND ?
GROUP BY symbol
ORDER BY symbol
""", [start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, rows]
Index: []

In [14]:
conn.execute("""
SELECT date, symbol, otc_off_exchange_volume, otc_week_used, data_quality
FROM daily_metrics
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [date, symbol, otc_off_exchange_volume, otc_week_used, data_quality]
Index: []

## Sanity Checks

In [15]:
conn.execute("""
SELECT symbol, date, lit_buy_volume, lit_sell_volume, log_buy_sell
FROM lit_direction_daily
WHERE (lit_buy_volume <= 0 OR lit_sell_volume <= 0)
  AND log_buy_sell IS NOT NULL
LIMIT 10
""").df()

Empty DataFrame
Columns: [symbol, date, lit_buy_volume, lit_sell_volume, log_buy_sell]
Index: []

In [16]:
conn.execute("""
SELECT symbol, date, short_ratio, short_ratio_denominator_type
FROM daily_metrics
WHERE short_ratio_denominator_type IS NOT NULL
  AND (short_ratio < 0 OR short_ratio > 1)
LIMIT 10
""").df()

Empty DataFrame
Columns: [symbol, date, short_ratio, short_ratio_denominator_type]
Index: []

In [17]:
conn.execute("""
SELECT symbol, date, COUNT(*) AS n
FROM daily_metrics
GROUP BY symbol, date
HAVING n > 1
""").df()

Empty DataFrame
Columns: [symbol, date, n]
Index: []

In [18]:
conn.execute("""
SELECT symbol, date, COUNT(*) AS n
FROM lit_direction_daily
GROUP BY symbol, date
HAVING n > 1
""").df()

Empty DataFrame
Columns: [symbol, date, n]
Index: []

## Lit Data Diagnostics
Checking lit_direction_daily and daily_metrics for lit flow issues.

In [19]:
# 1. Check date range in lit_direction_daily (overall)
print("=== Date range in lit_direction_daily ===")
display(conn.execute("""
    SELECT MIN(date) as min_date, MAX(date) as max_date, COUNT(*) as total_rows
    FROM lit_direction_daily
""").df())

=== Date range in lit_direction_daily ===

    min_date   max_date  total_rows
0 2025-11-20 2025-12-31          58

In [20]:
# 2. Check which symbols have lit data
print("=== Symbols with lit data (lit_direction_daily) ===")
display(conn.execute("""
    SELECT symbol, COUNT(*) as rows, MIN(date) as min_date, MAX(date) as max_date
    FROM lit_direction_daily
    GROUP BY symbol
    ORDER BY rows DESC
""").df())

=== Symbols with lit data (lit_direction_daily) ===

  symbol  rows   min_date   max_date
0    NKE    29 2025-11-20 2025-12-31
1   META    29 2025-11-20 2025-12-31

In [21]:
# 3. Check lit_direction_daily for sample symbols (AAPL, SPY, XLF)
print("=== Lit data for sample symbols ===")
for sym in ["AAPL", "SPY", "XLF"]:
    print(f"\n--- {sym} ---")
    display(conn.execute("""
        SELECT date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell
        FROM lit_direction_daily
        WHERE symbol = ?
        ORDER BY date DESC LIMIT 10
    """, [sym]).df())

=== Lit data for sample symbols ===

--- AAPL ---

Empty DataFrame
Columns: [date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell]
Index: []

--- SPY ---

Empty DataFrame
Columns: [date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell]
Index: []

--- XLF ---

Empty DataFrame
Columns: [date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell]
Index: []

In [22]:
# 4. Check daily_metrics lit columns for sample symbols
print("=== Daily_metrics lit columns for sample symbols ===")
for sym in ["AAPL", "SPY", "XLF"]:
    print(f"\n--- {sym} ---")
    display(conn.execute("""
        SELECT date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume
        FROM daily_metrics
        WHERE symbol = ?
        ORDER BY date DESC LIMIT 10
    """, [sym]).df())

=== Daily_metrics lit columns for sample symbols ===

--- AAPL ---

Empty DataFrame
Columns: [date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume]
Index: []

--- SPY ---

Empty DataFrame
Columns: [date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume]
Index: []

--- XLF ---

Empty DataFrame
Columns: [date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume]
Index: []

In [23]:
# 5. Compare config target_dates with DB date ranges
print("=== Current config target_dates ===")
print(f"Min: {min(config.target_dates)}, Max: {max(config.target_dates)}")
print(f"Count: {len(config.target_dates)}")

print("\n=== Overlap check: lit_direction_daily dates within target range ===")
display(conn.execute("""
    SELECT COUNT(*) as matching_rows
    FROM lit_direction_daily
    WHERE date >= ? AND date <= ?
""", [min(config.target_dates), max(config.target_dates)]).df())

=== Current config target_dates ===
Min: 2025-11-20, Max: 2025-12-31
Count: 30

=== Overlap check: lit_direction_daily dates within target range ===

   matching_rows
0             58

In [24]:
# 6. Check polygon_ingestion_state (caching)
print("=== Polygon ingestion state (cached trades) ===")
display(conn.execute("""
    SELECT symbol, data_source, COUNT(*) as cached_dates, 
           MIN(trade_date) as min_date, MAX(trade_date) as max_date
    FROM polygon_ingestion_state
    GROUP BY symbol, data_source
    ORDER BY symbol
""").df())

=== Polygon ingestion state (cached trades) ===

  symbol data_source  cached_dates   min_date   max_date
0   META       daily            28 2025-11-20 2025-12-31
1   META        tick            29 2025-11-20 2025-12-31
2    NKE        tick            29 2025-11-20 2025-12-31
3    NKE       daily            28 2025-11-20 2025-12-31

In [25]:
conn.close()