# Database Check
Validate raw + derived tables and provenance for the FINRA + Polygon pipeline.

In [1]:
from darkpool_analysis.config import load_config
from darkpool_analysis.db import get_connection
import pandas as pd

config = load_config()
conn = get_connection(config.db_path)

In [2]:
tables = conn.execute("SHOW TABLES").df()["name"].tolist()
tables

['composite_signal',
 'daily_metrics',
 'finra_otc_weekly_raw',
 'finra_short_daily_all_raw',
 'finra_short_daily_raw',
 'index_constituent_short_agg_daily',
 'lit_direction_daily',
 'options_premium_daily',
 'options_premium_summary',
 'polygon_daily_agg_raw',
 'polygon_equity_trades_raw',
 'polygon_ingestion_state',
 'scanner_daily_metrics']

In [3]:
from IPython.display import display

for table in tables:
    print(table)
    display(conn.execute(f"DESCRIBE {table}").df())
    display(conn.execute(f"SELECT COUNT(*) AS n FROM {table}").df())

composite_signal

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1                 date        DATE  YES  None    None  None
2    directional_score      DOUBLE  YES  None    None  None
3       pressure_score      DOUBLE  YES  None    None  None
4  participation_score      DOUBLE  YES  None    None  None
5      composite_score      DOUBLE  YES  None    None  None
6          final_label     VARCHAR  YES  None    None  None
7         data_quality     VARCHAR  YES  None    None  None
8    inference_version     VARCHAR  YES  None    None  None

   n
0  0

daily_metrics

                      column_name column_type null   key default extra
0                            date        DATE  YES  None    None  None
1                          symbol     VARCHAR  YES  None    None  None
2                    log_buy_sell      DOUBLE  YES  None    None  None
3                    short_volume      DOUBLE  YES  None    None  None
4             short_exempt_volume      DOUBLE  YES  None    None  None
5              short_total_volume      DOUBLE  YES  None    None  None
6                short_buy_volume      DOUBLE  YES  None    None  None
7               short_sell_volume      DOUBLE  YES  None    None  None
8                     short_ratio      DOUBLE  YES  None    None  None
9                   short_ratio_z      DOUBLE  YES  None    None  None
10           short_buy_sell_ratio      DOUBLE  YES  None    None  None
11         short_buy_sell_ratio_z      DOUBLE  YES  None    None  None
12   short_ratio_denominator_type     VARCHAR  YES  None    None  None
13  short_ratio_denominator_value      DOUBLE  YES  None    None  None
14             short_ratio_source     VARCHAR  YES  None    None  None
15                 lit_buy_volume      DOUBLE  YES  None    None  None
16                lit_sell_volume      DOUBLE  YES  None    None  None
17               lit_total_volume      DOUBLE  YES  None    None  None
18                  lit_buy_ratio      DOUBLE  YES  None    None  None
19                lit_buy_ratio_z      DOUBLE  YES  None    None  None
20             lit_flow_imbalance      DOUBLE  YES  None    None  None
21           lit_flow_imbalance_z      DOUBLE  YES  None    None  None
22                          close      DOUBLE  YES  None    None  None
23                           vwap      DOUBLE  YES  None    None  None
24                           high      DOUBLE  YES  None    None  None
25                            low      DOUBLE  YES  None    None  None
26                         volume      DOUBLE  YES  None    None  None
27                      return_1d      DOUBLE  YES  None    None  None
28                       return_z      DOUBLE  YES  None    None  None
29                      range_pct      DOUBLE  YES  None    None  None
30        otc_off_exchange_volume      DOUBLE  YES  None    None  None
31                  otc_week_used        DATE  YES  None    None  None
32           otc_weekly_buy_ratio      DOUBLE  YES  None    None  None
33                 otc_buy_volume      DOUBLE  YES  None    None  None
34                otc_sell_volume      DOUBLE  YES  None    None  None
35                otc_buy_ratio_z      DOUBLE  YES  None    None  None
36                     otc_status     VARCHAR  YES  None    None  None
37            weekly_total_volume      DOUBLE  YES  None    None  None
38         otc_participation_rate      DOUBLE  YES  None    None  None
39            otc_participation_z      DOUBLE  YES  None    None  None
40        otc_participation_delta      DOUBLE  YES  None    None  None
41             accumulation_score      DOUBLE  YES  None    None  None
42     accumulation_score_display      DOUBLE  YES  None    None  None
43                     confidence      DOUBLE  YES  None    None  None
44                   data_quality     VARCHAR  YES  None    None  None
45                        has_otc     BOOLEAN  YES  None    None  None
46                      has_short     BOOLEAN  YES  None    None  None
47                        has_lit     BOOLEAN  YES  None    None  None
48                      has_price     BOOLEAN  YES  None    None  None
49         pressure_context_label     VARCHAR  YES  None    None  None
50              inference_version     VARCHAR  YES  None    None  None

     n
0  390

finra_otc_weekly_raw

                column_name column_type null   key default extra
0                    symbol     VARCHAR  YES  None    None  None
1           week_start_date        DATE  YES  None    None  None
2       off_exchange_volume      DOUBLE  YES  None    None  None
3               trade_count      DOUBLE  YES  None    None  None
4           tier_identifier     VARCHAR  YES  None    None  None
5          tier_description     VARCHAR  YES  None    None  None
6                issue_name     VARCHAR  YES  None    None  None
7   market_participant_name     VARCHAR  YES  None    None  None
8                      mpid     VARCHAR  YES  None    None  None
9          last_update_date        DATE  YES  None    None  None
10              source_file     VARCHAR  YES  None    None  None

    n
0  52

finra_short_daily_all_raw

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1           trade_date        DATE  YES  None    None  None
2         short_volume      DOUBLE  YES  None    None  None
3  short_exempt_volume      DOUBLE  YES  None    None  None
4         total_volume      DOUBLE  YES  None    None  None
5               market     VARCHAR  YES  None    None  None
6               source     VARCHAR  YES  None    None  None
7          source_file     VARCHAR  YES  None    None  None

   n
0  0

finra_short_daily_raw

           column_name column_type null   key default extra
0               symbol     VARCHAR  YES  None    None  None
1           trade_date        DATE  YES  None    None  None
2         short_volume      DOUBLE  YES  None    None  None
3  short_exempt_volume      DOUBLE  YES  None    None  None
4         total_volume      DOUBLE  YES  None    None  None
5               market     VARCHAR  YES  None    None  None
6               source     VARCHAR  YES  None    None  None
7          source_file     VARCHAR  YES  None    None  None

     n
0  364

index_constituent_short_agg_daily

                   column_name column_type null   key default extra
0                 index_symbol     VARCHAR  YES  None    None  None
1                   trade_date        DATE  YES  None    None  None
2           total_short_volume      DOUBLE  YES  None    None  None
3     total_denominator_volume      DOUBLE  YES  None    None  None
4             denominator_type     VARCHAR  YES  None    None  None
5              agg_short_ratio      DOUBLE  YES  None    None  None
6            agg_short_ratio_z      DOUBLE  YES  None    None  None
7               coverage_count     INTEGER  YES  None    None  None
8   expected_constituent_count     INTEGER  YES  None    None  None
9                 coverage_pct      DOUBLE  YES  None    None  None
10          index_price_symbol     VARCHAR  YES  None    None  None
11          index_price_source     VARCHAR  YES  None    None  None
12          index_price_return      DOUBLE  YES  None    None  None
13              index_return_z      DOUBLE  YES  None    None  None
14        interpretation_label     VARCHAR  YES  None    None  None
15                data_quality     VARCHAR  YES  None    None  None
16           inference_version     VARCHAR  YES  None    None  None

   n
0  0

lit_direction_daily

             column_name column_type null   key default extra
0                 symbol     VARCHAR  YES  None    None  None
1                   date        DATE  YES  None    None  None
2         lit_buy_volume      DOUBLE  YES  None    None  None
3        lit_sell_volume      DOUBLE  YES  None    None  None
4          lit_buy_ratio      DOUBLE  YES  None    None  None
5           log_buy_sell      DOUBLE  YES  None    None  None
6  classification_method     VARCHAR  YES  None    None  None
7       lit_coverage_pct      DOUBLE  YES  None    None  None
8      inference_version     VARCHAR  YES  None    None  None

     n
0  377

options_premium_daily

       column_name column_type null   key default extra
0           symbol     VARCHAR   NO   PRI    None  None
1       trade_date        DATE   NO   PRI    None  None
2  expiration_date        DATE   NO   PRI    None  None
3  expiration_type     VARCHAR  YES  None    None  None
4           strike      DOUBLE   NO   PRI    None  None
5      option_type     VARCHAR   NO   PRI    None  None
6          premium      DOUBLE  YES  None    None  None
7           volume      DOUBLE  YES  None    None  None
8      close_price      DOUBLE  YES  None    None  None
9  fetch_timestamp   TIMESTAMP  YES  None    None  None

       n
0  17308

options_premium_summary

          column_name column_type null   key default extra
0              symbol     VARCHAR   NO   PRI    None  None
1          trade_date        DATE   NO   PRI    None  None
2     expiration_type     VARCHAR   NO   PRI    None  None
3  total_call_premium      DOUBLE  YES  None    None  None
4   total_put_premium      DOUBLE  YES  None    None  None
5         net_premium      DOUBLE  YES  None    None  None
6           log_ratio      DOUBLE  YES  None    None  None
7       strikes_count     INTEGER  YES  None    None  None
8          atm_strike      DOUBLE  YES  None    None  None
9     fetch_timestamp   TIMESTAMP  YES  None    None  None

     n
0  366

polygon_daily_agg_raw

       column_name column_type null   key default extra
0           symbol     VARCHAR  YES  None    None  None
1       trade_date        DATE  YES  None    None  None
2             open      DOUBLE  YES  None    None  None
3             high      DOUBLE  YES  None    None  None
4              low      DOUBLE  YES  None    None  None
5            close      DOUBLE  YES  None    None  None
6             vwap      DOUBLE  YES  None    None  None
7           volume      DOUBLE  YES  None    None  None
8  fetch_timestamp   TIMESTAMP  YES  None    None  None

     n
0  364

polygon_equity_trades_raw

   column_name column_type null   key default extra
0       symbol     VARCHAR  YES  None    None  None
1    timestamp   TIMESTAMP  YES  None    None  None
2        price      DOUBLE  YES  None    None  None
3         size      DOUBLE  YES  None    None  None
4          bid      DOUBLE  YES  None    None  None
5          ask      DOUBLE  YES  None    None  None
6  data_source     VARCHAR  YES  None  'tick'  None

          n
0  71619752

polygon_ingestion_state

       column_name column_type null   key default extra
0           symbol     VARCHAR   NO   PRI    None  None
1       trade_date        DATE   NO   PRI    None  None
2      data_source     VARCHAR   NO   PRI    None  None
3  fetch_timestamp   TIMESTAMP  YES  None    None  None
4     record_count     INTEGER  YES  None    None  None
5           status     VARCHAR  YES  None    None  None

     n
0  741

scanner_daily_metrics

               column_name column_type null   key default extra
0                     date        DATE  YES  None    None  None
1                   symbol     VARCHAR  YES  None    None  None
2             short_volume      DOUBLE  YES  None    None  None
3      short_exempt_volume      DOUBLE  YES  None    None  None
4             total_volume      DOUBLE  YES  None    None  None
5       short_total_volume      DOUBLE  YES  None    None  None
6         short_buy_volume      DOUBLE  YES  None    None  None
7        short_sell_volume      DOUBLE  YES  None    None  None
8              short_ratio      DOUBLE  YES  None    None  None
9            short_ratio_z      DOUBLE  YES  None    None  None
10    short_buy_sell_ratio      DOUBLE  YES  None    None  None
11  short_buy_sell_ratio_z      DOUBLE  YES  None    None  None
12    short_total_volume_z      DOUBLE  YES  None    None  None
13             trend_score      DOUBLE  YES  None    None  None
14             trend_label     VARCHAR  YES  None    None  None
15       scanner_direction     VARCHAR  YES  None    None  None
16              trend_days     INTEGER  YES  None    None  None
17           outlier_score      DOUBLE  YES  None    None  None
18              is_outlier     BOOLEAN  YES  None    None  None
19       is_unusual_volume     BOOLEAN  YES  None    None  None
20        is_unusual_ratio     BOOLEAN  YES  None    None  None
21           scanner_score      DOUBLE  YES  None    None  None
22       inference_version     VARCHAR  YES  None    None  None

   n
0  0

In [4]:
sample_symbol = "AMZN"
start_date = min(config.target_dates)
end_date = max(config.target_dates)
sample_symbol, start_date, end_date

('AMZN', datetime.date(2025, 11, 19), datetime.date(2025, 12, 30))

## Raw Tables Samples

In [5]:
conn.execute("""
SELECT * FROM finra_otc_weekly_raw
WHERE symbol = ?
ORDER BY week_start_date DESC
LIMIT 5
""", [sample_symbol]).df()

Empty DataFrame
Columns: [symbol, week_start_date, off_exchange_volume, trade_count, tier_identifier, tier_description, issue_name, market_participant_name, mpid, last_update_date, source_file]
Index: []

In [6]:
conn.execute("""
SELECT * FROM finra_short_daily_raw
WHERE symbol = ? AND trade_date BETWEEN ? AND ?
ORDER BY trade_date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, trade_date, short_volume, short_exempt_volume, total_volume, market, source, source_file]
Index: []

In [7]:
conn.execute("""
SELECT * FROM polygon_daily_agg_raw
WHERE symbol = ? AND trade_date BETWEEN ? AND ?
ORDER BY trade_date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, trade_date, open, high, low, close, vwap, volume, fetch_timestamp]
Index: []

In [8]:
conn.execute("""
SELECT * FROM polygon_equity_trades_raw
WHERE symbol = ? AND timestamp::DATE BETWEEN ? AND ?
ORDER BY timestamp DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, timestamp, price, size, bid, ask, data_source]
Index: []

## Derived Tables Samples

In [9]:
conn.execute("""
SELECT * FROM lit_direction_daily
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
LIMIT 5
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [symbol, date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell, classification_method, lit_coverage_pct, inference_version]
Index: []

In [10]:
conn.execute("""
SELECT * FROM daily_metrics
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
LIMIT 10
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [date, symbol, log_buy_sell, short_volume, short_exempt_volume, short_total_volume, short_buy_volume, short_sell_volume, short_ratio, short_ratio_z, short_buy_sell_ratio, short_buy_sell_ratio_z, short_ratio_denominator_type, short_ratio_denominator_value, short_ratio_source, lit_buy_volume, lit_sell_volume, lit_total_volume, lit_buy_ratio, lit_buy_ratio_z, lit_flow_imbalance, lit_flow_imbalance_z, close, vwap, high, low, volume, return_1d, return_z, range_pct, otc_off_exchange_volume, otc_week_used, otc_weekly_buy_ratio, otc_buy_volume, otc_sell_volume, otc_buy_ratio_z, otc_status, weekly_total_volume, otc_participation_rate, otc_participation_z, otc_participation_delta, accumulation_score, accumulation_score_display, confidence, data_quality, has_otc, has_short, has_lit, has_price, pressure_context_label, inference_version]
Index: []

[0 rows x 51 columns]

In [11]:
conn.execute("""
SELECT index_symbol, trade_date, coverage_count, expected_constituent_count, coverage_pct
FROM index_constituent_short_agg_daily
ORDER BY trade_date DESC
LIMIT 5
""").df()

Empty DataFrame
Columns: [index_symbol, trade_date, coverage_count, expected_constituent_count, coverage_pct]
Index: []

## Coverage and Provenance Checks

In [12]:
conn.execute("""
SELECT symbol, COUNT(*) AS rows
FROM daily_metrics
WHERE date BETWEEN ? AND ?
GROUP BY symbol
ORDER BY symbol
""", [start_date, end_date]).df()

   symbol  rows
0    META    30
1     SPY    30
2     XLB    30
3     XLC    30
4     XLE    30
5     XLF    30
6     XLI    30
7     XLK    30
8     XLP    30
9    XLRE    30
10    XLU    30
11    XLV    30
12    XLY    30

In [13]:
conn.execute("""
SELECT date, symbol, otc_off_exchange_volume, otc_week_used, data_quality
FROM daily_metrics
WHERE symbol = ? AND date BETWEEN ? AND ?
ORDER BY date DESC
""", [sample_symbol, start_date, end_date]).df()

Empty DataFrame
Columns: [date, symbol, otc_off_exchange_volume, otc_week_used, data_quality]
Index: []

## Sanity Checks

In [14]:
conn.execute("""
SELECT symbol, date, lit_buy_volume, lit_sell_volume, log_buy_sell
FROM lit_direction_daily
WHERE (lit_buy_volume <= 0 OR lit_sell_volume <= 0)
  AND log_buy_sell IS NOT NULL
LIMIT 10
""").df()

Empty DataFrame
Columns: [symbol, date, lit_buy_volume, lit_sell_volume, log_buy_sell]
Index: []

In [15]:
conn.execute("""
SELECT symbol, date, short_ratio, short_ratio_denominator_type
FROM daily_metrics
WHERE short_ratio_denominator_type IS NOT NULL
  AND (short_ratio < 0 OR short_ratio > 1)
LIMIT 10
""").df()

Empty DataFrame
Columns: [symbol, date, short_ratio, short_ratio_denominator_type]
Index: []

In [16]:
conn.execute("""
SELECT symbol, date, COUNT(*) AS n
FROM daily_metrics
GROUP BY symbol, date
HAVING n > 1
""").df()

Empty DataFrame
Columns: [symbol, date, n]
Index: []

In [17]:
conn.execute("""
SELECT symbol, date, COUNT(*) AS n
FROM lit_direction_daily
GROUP BY symbol, date
HAVING n > 1
""").df()

Empty DataFrame
Columns: [symbol, date, n]
Index: []

## Lit Data Diagnostics
Checking lit_direction_daily and daily_metrics for lit flow issues.

In [18]:
# 1. Check date range in lit_direction_daily (overall)
print("=== Date range in lit_direction_daily ===")
display(conn.execute("""
    SELECT MIN(date) as min_date, MAX(date) as max_date, COUNT(*) as total_rows
    FROM lit_direction_daily
""").df())

=== Date range in lit_direction_daily ===

    min_date   max_date  total_rows
0 2025-11-19 2025-12-30         377

In [19]:
# 2. Check which symbols have lit data
print("=== Symbols with lit data (lit_direction_daily) ===")
display(conn.execute("""
    SELECT symbol, COUNT(*) as rows, MIN(date) as min_date, MAX(date) as max_date
    FROM lit_direction_daily
    GROUP BY symbol
    ORDER BY rows DESC
""").df())

=== Symbols with lit data (lit_direction_daily) ===

   symbol  rows   min_date   max_date
0     XLV    29 2025-11-19 2025-12-30
1     XLC    29 2025-11-19 2025-12-30
2     XLU    29 2025-11-19 2025-12-30
3     XLI    29 2025-11-19 2025-12-30
4     XLE    29 2025-11-19 2025-12-30
5     XLP    29 2025-11-19 2025-12-30
6    XLRE    29 2025-11-19 2025-12-30
7    META    29 2025-11-19 2025-12-30
8     XLK    29 2025-11-19 2025-12-30
9     XLB    29 2025-11-19 2025-12-30
10    XLY    29 2025-11-19 2025-12-30
11    SPY    29 2025-11-19 2025-12-30
12    XLF    29 2025-11-19 2025-12-30

In [20]:
# 3. Check lit_direction_daily for sample symbols (AAPL, SPY, XLF)
print("=== Lit data for sample symbols ===")
for sym in ["AAPL", "SPY", "XLF"]:
    print(f"\n--- {sym} ---")
    display(conn.execute("""
        SELECT date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell
        FROM lit_direction_daily
        WHERE symbol = ?
        ORDER BY date DESC LIMIT 10
    """, [sym]).df())

=== Lit data for sample symbols ===

--- AAPL ---

Empty DataFrame
Columns: [date, lit_buy_volume, lit_sell_volume, lit_buy_ratio, log_buy_sell]
Index: []

--- SPY ---

        date  lit_buy_volume  lit_sell_volume  lit_buy_ratio  log_buy_sell
0 2025-12-30      10702888.0        6690270.0       0.615350      0.469859
1 2025-12-29      15320270.0        9652075.0       0.613489      0.462004
2 2025-12-26       9277995.0        6018187.0       0.606556      0.432859
3 2025-12-24      12100542.0        9279896.0       0.565963      0.265400
4 2025-12-23      12543277.0       12890212.0       0.493180     -0.027283
5 2025-12-22       9313124.0       14927991.0       0.384187     -0.471813
6 2025-12-19      22838914.0       25692785.0       0.470598     -0.117744
7 2025-12-18      21337546.0       21272042.0       0.500769      0.003075
8 2025-12-17      21496423.0       25607503.0       0.456362     -0.174999
9 2025-12-16      28451667.0       15118568.0       0.653007      0.632283

--- XLF ---

        date  lit_buy_volume  lit_sell_volume  lit_buy_ratio  log_buy_sell
0 2025-12-30       2767597.0        2582583.0       0.517290      0.069189
1 2025-12-29       4353734.0        4442527.0       0.494953     -0.020189
2 2025-12-26       6814414.0        2089976.0       0.765287      1.181887
3 2025-12-24       3620022.0        1663999.0       0.685088      0.777256
4 2025-12-23       4512536.0        3445522.0       0.567040      0.269784
5 2025-12-22       8750592.0        7894374.0       0.525720      0.102971
6 2025-12-19      11279114.0       11478948.0       0.495610     -0.017562
7 2025-12-18       5190926.0        3938767.0       0.568576      0.276044
8 2025-12-17       7589723.0        7090809.0       0.516992      0.067996
9 2025-12-16       5046512.0        4862728.0       0.509273      0.037098

In [21]:
# 4. Check daily_metrics lit columns for sample symbols
print("=== Daily_metrics lit columns for sample symbols ===")
for sym in ["AAPL", "SPY", "XLF"]:
    print(f"\n--- {sym} ---")
    display(conn.execute("""
        SELECT date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume
        FROM daily_metrics
        WHERE symbol = ?
        ORDER BY date DESC LIMIT 10
    """, [sym]).df())

=== Daily_metrics lit columns for sample symbols ===

--- AAPL ---

Empty DataFrame
Columns: [date, lit_flow_imbalance, lit_buy_ratio, lit_buy_volume, lit_sell_volume]
Index: []

--- SPY ---

,date,lit_flow_imbalance,lit_buy_ratio,lit_buy_volume,lit_sell_volume
0,2025-12-30,0.230701,0.615350,10702888.0,6690270.0
1,2025-12-29,0.226979,0.613489,15320270.0,9652075.0
2,2025-12-26,0.213113,0.606556,9277995.0,6018187.0
3,2025-12-25,NaN,NaN,NaN,NaN
4,2025-12-24,0.131926,0.565963,12100542.0,9279896.0
5,2025-12-23,-0.013641,0.493180,12543277.0,12890212.0
6,2025-12-22,-0.231626,0.384187,9313124.0,14927991.0
7,2025-12-19,-0.058804,0.470598,22838914.0,25692785.0
8,2025-12-18,0.001537,0.500769,21337546.0,21272042.0
9,2025-12-17,-0.087277,0.456362,21496423.0,25607503.0

--- XLF ---

,date,lit_flow_imbalance,lit_buy_ratio,lit_buy_volume,lit_sell_volume
0,2025-12-30,0.034581,0.517290,2767597.0,2582583.0
1,2025-12-29,-0.010094,0.494953,4353734.0,4442527.0
2,2025-12-26,0.530574,0.765287,6814414.0,2089976.0
3,2025-12-25,NaN,NaN,NaN,NaN
4,2025-12-24,0.370177,0.685088,3620022.0,1663999.0
5,2025-12-23,0.134080,0.567040,4512536.0,3445522.0
6,2025-12-22,0.051440,0.525720,8750592.0,7894374.0
7,2025-12-19,-0.008781,0.495610,11279114.0,11478948.0
8,2025-12-18,0.137152,0.568576,5190926.0,3938767.0
9,2025-12-17,0.033985,0.516992,7589723.0,7090809.0

In [22]:
# 5. Compare config target_dates with DB date ranges
print("=== Current config target_dates ===")
print(f"Min: {min(config.target_dates)}, Max: {max(config.target_dates)}")
print(f"Count: {len(config.target_dates)}")

print("\n=== Overlap check: lit_direction_daily dates within target range ===")
display(conn.execute("""
    SELECT COUNT(*) as matching_rows
    FROM lit_direction_daily
    WHERE date >= ? AND date <= ?
""", [min(config.target_dates), max(config.target_dates)]).df())

=== Current config target_dates ===
Min: 2025-11-19, Max: 2025-12-30
Count: 30

=== Overlap check: lit_direction_daily dates within target range ===

   matching_rows
0            377

In [23]:
# 6. Check polygon_ingestion_state (caching)
print("=== Polygon ingestion state (cached trades) ===")
display(conn.execute("""
    SELECT symbol, data_source, COUNT(*) as cached_dates, 
           MIN(trade_date) as min_date, MAX(trade_date) as max_date
    FROM polygon_ingestion_state
    GROUP BY symbol, data_source
    ORDER BY symbol
""").df())

=== Polygon ingestion state (cached trades) ===

   symbol data_source  cached_dates   min_date   max_date
0    META        tick            29 2025-11-19 2025-12-30
1    META       daily            28 2025-11-19 2025-12-30
2     SPY        tick            29 2025-11-19 2025-12-30
3     SPY       daily            28 2025-11-19 2025-12-30
4     XLB        tick            29 2025-11-19 2025-12-30
5     XLB       daily            28 2025-11-19 2025-12-30
6     XLC       daily            28 2025-11-19 2025-12-30
7     XLC        tick            29 2025-11-19 2025-12-30
8     XLE       daily            28 2025-11-19 2025-12-30
9     XLE        tick            29 2025-11-19 2025-12-30
10    XLF       daily            28 2025-11-19 2025-12-30
11    XLF        tick            29 2025-11-19 2025-12-30
12    XLI        tick            29 2025-11-19 2025-12-30
13    XLI       daily            28 2025-11-19 2025-12-30
14    XLK       daily            28 2025-11-19 2025-12-30
15    XLK        tick            29 2025-11-19 2025-12-30
16    XLP        tick            29 2025-11-19 2025-12-30
17    XLP       daily            28 2025-11-19 2025-12-30
18   XLRE       daily            28 2025-11-19 2025-12-30
19   XLRE        tick            29 2025-11-19 2025-12-30
20    XLU       daily            28 2025-11-19 2025-12-30
21    XLU        tick            29 2025-11-19 2025-12-30
22    XLV        tick            29 2025-11-19 2025-12-30
23    XLV       daily            28 2025-11-19 2025-12-30
24    XLY        tick            29 2025-11-19 2025-12-30
25    XLY       daily            28 2025-11-19 2025-12-30

In [24]:
conn.close()